:root{
    --azul-primario: #19194630;
    --azul-secundario: #1A1A4E;
    --azul-terciario: #21216033;
    
    --bg-azul: #111133;
    --bg-bege: #ECECEC;

    --text-bege: #DBDBDB;
    --text-bege-dark: #D2D2D230;
    --text-cinza: #4C4C4C;

    --branco: #fff;
    --amarelo: #C39F00;
}

html{
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: #080055;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
   
    background: #0d0085; 
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--amarelo);
}




button {
    color: var(--branco);
    background-color: var(--amarelo);
    font-size: 1.25rem;
    border-radius: 1rem;
    border: none;
    padding: .375rem 5rem;
    width: fit-content;
    transition: 0.9s;
}

button:hover{
    cursor: pointer;
    background-color: #dab203;
    box-shadow: inset -10px -5px 5px rgba(0, 0, 0, 0.151);
}

section{
    width: 100%;
    padding: 1%;
}

.inicio{
    height: 100dvh;
    color: var(--text-bege);
    background-color: var(--bg-azul);
}

.inicio .container {
    width: 98%;
    background-image: url(../images/bg\ blue.png);
    background-repeat: repeat;
}

.inicio .container .menu{
    width: inherit;
    height: 10dvh;
    display: flex;
    justify-content: space-between;
    padding: 1.25rem 2dvw 1.25rem 4dvw;
}

.inicio .container .menu #navegacao {
    display: flex;
    gap: 1.25rem;
    padding-top: 1.375rem;
}

.inicio .container .menu #navegacao a{
    color: var(--text-bege);
    font-size: .875rem;
    font-weight: 500;
    transition: 0.3s;
}

.inicio .container .menu #navegacao a:hover{
    color: var(--amarelo);
    transform: scale(1.1);
}

.inicio .container .menu img {
    width: 3.5rem;
}

.inicio__conteudo {
    display: flex;
    justify-content: space-between;
    height: 90dvh;
    width: 100%;
}

.inicio__conteudo .introducao {
    display: inherit;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 2dvh 4dvw;
    height: 100%;
    width: 60%;
}

.inicio__conteudo .introducao__texto {
    display: inherit;
    flex-direction: column;
    margin: auto 0;
    gap: .5rem;
}


.inicio__conteudo .introducao__texto h1{
    font-size: 3.25rem;
}

.inicio__conteudo .introducao__texto p{
    font-size: 1.875rem;
    color: var(--text-bege);
    width: 95%;
}

.inicio__conteudo .introducao__logos img{
    height: 1.675rem;
}

.inicio__conteudo .baloes{
    display: flex;
    justify-content: end;
    width: 40%;
}

.inicio__conteudo .baloes img{
    height: 100%;
    margin-right: 15%;
}








.quem-somos{
    height: fit-content;
    background-color: var(--bg-bege);
    
}

.quem-somos .container{
    display: flex;
    width: inherit;
    height: inherit;
    justify-content: space-between;
    background-image: url(../images/bg\ white.png);
    background-repeat: repeat;
    width: 98%;
    padding: 3rem 0;
}

.quem-somos__conteudo{
    padding: 2% 4dvw;
    width: 70%;
}

.quem-somos__conteudo h2{
    color: #121212;
    font-size: 3rem;
} 

.quem-somos__conteudo p{
    color: var(--text-cinza);
    font-size: 2rem;
    width: 95%;
}

.quem-somos__imagem{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
}

.quem-somos__imagem img{
    width: 90%;
}







.midia {
    background-color: var(--bg-azul);
    height: fit-content;
}

.midia .container{
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../images/bg\ blue.png);
    background-repeat: repeat;
    width: 98%;
    padding: 3rem;
}


.midia .container h2 {
    color: var(--branco);
    font-size: 2rem;
}

.midia .container p{
    color: var(--text-bege);
    font-size: 1.25rem;
    font-weight: 600;
}

.midia__caixas{
    display: inherit;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    padding: 2rem 0 3rem 0;
}

.midia__caixas .caixa {
    background-color: var(--branco);
    border-radius: 1.5rem;
    width: 400px;
    display: inherit;
    flex-direction: column;
    align-items: center;
    padding-bottom: .5%; 
    overflow: hidden;
}

.midia__caixas .caixa img{
    object-fit: cover;
    height: 220px;
    width: 100%;
}

.midia__caixas .caixa p{
    color: var(--text-cinza);
    width: 85%;
    height: 10%;
    font-size: 1.175rem;
    line-height: 2.25rem;
    text-align: center;
}











.premiacoes{

    height: fit-content;
    background-color: var(--bg-bege); 
}

.premiacoes .container {
    width: 98%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/bg\ white.png);
    background-repeat: repeat;
    padding: 3rem;
}

.premiacoes .container h2 {
    font-size: 2rem;
    color: #121212;
    font-weight: 800;
}

.premiacoes .container > p{
    color: var(--text-cinza);
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.premiacoes__premios {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    margin: 2rem auto;
}

.premiacoes__premios .premio{
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--branco);
    border-radius: 1.5rem;
    width: 400px;
    height: 350px;
    padding: 1.5%;
    gap: .625rem;
}

.premiacoes__premios .premio .icon {
    width: 30%;
}

.premiacoes__premios .premio .medals {
    display: inherit;
    flex-direction: row;
    gap: 2.75rem;
}

.premiacoes__premios .premio .medals span{
    display: flex;
    align-items: center;
    gap: .25rem;
}

.premiacoes__premios .premio p{
    text-align: center;
    color: var(--text-cinza);
    font-size: 1.125rem;
}

.premiacoes__premios .premio button{
    transform: scale(0.9);
}








.redes{
    height: fit-content;
    background-color: var(--azul-secundario);
}

.redes .container {
    width: 98%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/bg\ blue\ sec.png);
    background-repeat: repeat;
    padding: 3rem;
}

.redes .container h2{
    color: var(--branco);
    font-size: 2rem;
    font-weight: 800;
}

.redes .container p{
    color: var(--text-bege);
    font-size: 1.25rem;
    font-weight: 400;
}

.redes__logos{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem 0;
    gap: 1rem;
}

.redes__logos .logo{
    width: 3.5rem;
    transition: 0.3s;
}

.redes__logos .logo:hover{
    cursor: pointer;
    transform: scale(1.1);
    fill: #dab203;
}

.redes .container-background-blue{
    background-color: var(--azul-secundario);
    color: var(--azul-terciario);
}







footer {
    display: flex;
    justify-content: space-between;
    height: 12dvh;
    background-color: #353535;
    color: var(--branco);
    font-size: 0.8rem;
    padding: 4.8dvh 2dvw;
}

footer #codelab{
    color:#5ED8FF;
    ;
}

.overlay {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal {
    display: flex;
    flex-direction: column;
    
    background-color: #fefefe;
    margin: 15% auto;
    padding: 1rem 2.5rem 2.5rem 2.5rem;
    border: 1px solid #888;
    border-radius: 25px;
    width: 50%;
}

.modal-olimpiada {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.modal-premiacoes{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.modal-item{
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.modal-item h2 {
    color: #303030;
}

.modal-premiacoes ol{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .375rem;
}

.modal-premiacoes ol li{
    display: flex;
    color: var(--text-cinza);
    font-size: 1rem;
    font-weight: 500;
    gap: .375rem;
}

.foto-campeonato{
    width: 4rem;
}

.texto-campeonato{
    font-size: 1.5rem;
    font-weight: 700;
    color: #303030;
}

.divBotaoFechar{
   display: flex;
   justify-content: end;
}

.fechar-modal {
    color: var(--azul-secundario);
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.fechar-modal:hover {
    color: var(--amarelo);
}

body.no-scroll {
    overflow: hidden;
}


@media (max-width: 1300px){
    .inicio__conteudo .baloes img{
        margin-right: 5%;
        height: 85%;

    }

    .inicio__conteudo .baloes {
        display: flex;
        flex-direction: row;
        align-items: end;
        justify-content: end;
    }

    .quem-somos .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .quem-somos__conteudo{
        width: 100%;
    }
    .quem-somos__imagem {
        width: 50dvw;
        height: 50dvw;
    }

    .midia .container .midia__caixas{
        display: flex;
        flex-wrap: wrap;
    }

    .premiacoes .container .premiacoes__premios {
        flex-wrap: wrap;
    }
}

@media (max-width: 1150px){
    .inicio__conteudo .baloes img{
        margin-right: 5%;
        height: 70%;
    }

    .inicio__conteudo .introducao{
        width: 70%;
    }

    .inicio__conteudo .baloes {
        display: flex;
        flex-direction: row;
        align-items: end;
        justify-content: end;
        width: 30%;
    }
}

@media (max-width: 950px){
    .inicio__conteudo .baloes img{
        display: none;
    }

    .inicio__conteudo .introducao{
        width: 100%;
    }

    .inicio__conteudo .baloes {
        display: none;
    }

    .quem-somos__imagem {
        width: 70dvw;
        height: 70dvw;
    }
}

@media (max-width:500px){
    .premiacoes__premios .premio {
        width: 300px;
        height: 250px;
    }

    .midia__caixas .caixa{
        width: 85dvw;
    }

    .midia p{
        text-align: center;
    }

    .redes {
        text-align: center;
    }

    *{
        font-size: smaller;
    }
}

@media (max-width:400px){
    .premiacoes__premios .premio {
        width: 250px;
        height: 250px;
    }

    .midia__caixas .caixa{
        width: 85dvw;
    }



    *{
        font-size: smaller;
    }
}

